@page "/bored"

<h3>Bored</h3>


<div class="card">
    <div class="card-header">@BoredActivity.activity</div>
    <div class="card-body">
        <h4>Type</h4>
        <h6>@BoredActivity.type</h6>
        <h4>Participants</h4>
        <h6>@BoredActivity.participants</h6>
        <h4>Price</h4>
        <h6>@BoredActivity.price</h6>
        <h4>Link</h4>
        <h6>@BoredActivity.link</h6>
        <h4>Key</h4>
        <h6>@BoredActivity.key</h6>
        <h4>Accessibility</h4>
        <h6>@BoredActivity.accessibility</h6>
    </div>
</div>

